# Aliases

# Watch todo file
alias upto="bash /Users/Em/.myscripts/todochange.sh"
# Pull All Project Repos
alias gitit="cd /Users/Em/Repos && git-pull-all"

# List declared aliases and functions
alias lsaliases="alias | sed 's/=.*//'"

# Show non-prefixed functions
alias lsfunctions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"

alias su="sudo"

# cat is color cat (ccat)
alias cat=ccat

# Lock MacBook
alias lock='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'

# Handy
alias cl="clear"

# Move Around a Bit
alias ".."="cd .."
alias "..."="cd../.."
alias "...."="cd../../.."
alias up="cd /"
alias lbin="/usr/local/bin"

# Source
alias sbp="source /Users/Em/.bash_profile"

# Purge
alias pur="sudo purge"

# Homebrew
alias bup="brew update && brew upgrade && brew cleanup"

# ls is color-ls
alias ls="color-ls"

# Frequent LS Typos
alias ll="ls"
alias lk="ls"
alias 'l:'="ls"
alias ks="ls"
alias sl="ls"
alias la="ls"   

# list directories first
alias ld="ls -1 --group-directories-first"

# fu
alias fu="python3 /Users/Em/Toolz/fu/fu"

# GIT

alias gl="git pull"
alias gh="git push"


# GIT CONFIG ALIASES (bare repo dots)
alias conp="config pull"
alias conu="config push"

# buku
alias bukuls="buku --colors oKlxm -p"

# kanban
alias kan="bash kanban"

# p - pomodoro
alias p="bash /Users/Em/.p/p"

alias pwav="bash /Users/Em/.p/p wait && afplay /Users/Em/.p/dooropen.wav"

# Fun Colors
alias cfun="boxes -d simple | lolcat -a -s 20"

# Find TODO FIXME
alias tasks="grep -rEI 'TODO|FIXME' . 2>/dev/null"

# TTYCLOCK
alias clock="tty-clock -c -b -B -n -C 5 -t"

# Stopwatch
alias stopwatch='echo "Time Started! CTRL-D to Stop" && date && time cat && date'

# commandlinefu
alias fu="python /Users/Em/Toolz/fu/fu"

# Enable/Disable Browser
## Safari
alias offsafari="sudo chmod ogu-rx /Applications/Safari.app"
alias onsafari="sudo chmod ogu+rx /Applications/Safari.app"
## Vivaldi
alias offvivaldi="sudo chmod ogu-rx /Applications/Vivaldi.app"
alias onvivaldi="sudo chmode ogu+rx /Applications/Vivaldi.app"

alias ia="bash /Users/Em/.dict/ia"

# Download Website
alias websiteget="wget --random-wait -r -p -e robots=off -U mozilla"

# Which app are using the network
alias listen="lsof -P -i -n"

# Find in Current Directory
alias findhere="find . name"

# Adto
alias adto="bash /Users/Em/.myscripts/adto.sh"
