# Aliases

# Pull All Project Repos
alias gitit="cd /Users/Em/Repos && git-pull-all"

# List declared aliases and functions
alias lsaliases="alias | sed 's/=.*//'"

# Show non-prefixed functions
alias lsfunctions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"

alias su="sudo"

# cat is color cat (ccat)
alias cat=ccat

# Lock MacBook
alias lock='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'

# Handy
alias cl="clear"

# Move Around a Bit
alias ".."="cd .."
alias "..."="cd../.."
alias "...."="cd../../.."
alias up="cd /"
alias lbin="/usr/local/bin"

# Source
alias sbp="source /Users/Em/.bash_profile"

# Purge
alias pur="sudo purge"

# Homebrew
alias bup="brew update && brew upgrade && brew cleanup"


# Frequent LS Typos
alias ls="ls"
alias ll="ls"
alias lk="ls"
alias 'l:'="ls"
alias ks="ls"
alias sl="ls"
alias la="ls"   

#alias cheatsh="mdless $HOME/.myscripts/cheatsheet.md"

# GIT

alias gl="git pull"
alias gh="git push"


# GIT CONFIG ALIASES (bare repo dots)
alias conp="config pull"
alias conu="config push"

# buku
alias bukuls="buku --colors oKlxm -p"