#!/usr/bin/bash

# Exports
export TERM=xterm-256color

# Python 3 Path
export PYTHONPATH="/usr/local/bin/python3"
# Python Encoding
export PYTHONENCODING='UTF-8'

# MATPLOTLIB iTerm Backend
export MPLBACKEND="module://itermplot"
# Dark Background
export ITERMPLOT=rv

# Node NPM Path
export PATH="/usr/local/share/npm/bin:$PATH"

# GNU
MANPATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"


# MySQL Path
export PATH="/usr/local/mysql/bin:$PATH"

# Old Go Path
#export GOPATH="/usr/local/opt/go/libexec/bin:$PATH"
#export PATH=$PATH:$GOPATH="/Users/Em/Projects/GoCode"

# GO Path
export GOPATH="/Users/Em/.go"
export GOROOT=/usr/local/opt/go/libexec
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin


# Less
export LESS_TERMCAP_md="${yellow}";
export MANPAGER='less -X';

#export GREP_OPTIONS='--color=auto';

# XML
export XML_CATALOG_FILES="/usr/local/etc/xml/catalog"
export PATH="/usr/local/opt/libxslt/bin:$PATH"
export XML_CATALOG_FILES=/usr/local/etc/xml/catalog

# Cheat
export CHEATCOLORS=true
export DEFAULT_CHEAT_DIR="/Users/Em/.cheat"
export CHEATPATH="$CHEATPATH:/Users/Em/.cheat"

# TinyCareBot
source "/Users/Em/.tinycarebot"


# icu4c
export PATH="/usr/local/opt/icu4c/sbin:$PATH"



# Ruby
if which ruby >/dev/null && which gem >/dev/null; then
    PATH="$(ruby -rubygems -e 'puts Gem.user_dir')/bin:$PATH"
fi

export SCRIPTS_PATH="$HOME/.myscripts:$PATH"