#!/usr/bin/bash

# Exports
export TERM=xterm-256color
# sbin PATH
export PATH="/usr/local/sbin:$PATH"

# Editor
export EDITOR='vim';

# US English in UTF-8
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';


# Node NPM Path
export PATH="/usr/local/share/npm/bin:$PATH"

# gnu path
MANPATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"

# XML

# MySQL Path
export PATH="/usr/local/mysql/bin:$PATH"

# TeXInfo Path
export PATH="/usr/local/opt/texinfo/bin:$PATH"

# Python Encoding
export PYTHONENCODING='UTF-8';

# Go Path
export GOPATH="/usr/local/opt/go/libexec/bin:$PATH"
#export PATH=$PATH:$GOPATH="/Users/Em/Projects/GoCode"


# Less
export LESS_TERMCAP_md="${yellow}";
export MANPAGER='less -X';

#export GREP_OPTIONS='--color=auto';

# XML
export XML_CATALOG_FILES="/usr/local/etc/xml/catalog"
export PATH="/usr/local/opt/libxslt/bin:$PATH"
export XML_CATALOG_FILES=/usr/local/etc/xml/catalog

# Cheat
export CHEATCOLORS=true
export DEFAULT_CHEAT_DIR="/Users/Em/.cheat"
export CHEATPATH="$CHEATPATH:/Users/Em/.cheat"
