#!/usr/bin/bash

# Exports

#export PATH=$PATH:$HOME/bin

export EDITOR='vim';

# US English in UTF-8
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

export BIBINPUTS="/Library/TeX/Local/bibtex/bib/local:$PATH"

# gnu path
MANPATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"

export PYTHONENCODING='UTF-8';

# Go Path
export GOPATH="/usr/local/opt/go/libexec/bin:$PATH"
#export PATH=$PATH:$GOPATH="/Users/Em/Projects/GoCode"


export LESS_TERMCAP_md="${yellow}";
export MANPAGER='less -X';

# Always use colored grep output
export GREP_OPTIONS='--color=auto';
