# Functions


function weather() {
	curl wttr.in/Oakland | lolcat -a -d 3 -s 17.0
}

function moon() {
	curl wttr.in/Moon | lolcat -a -d 5 -s 17.0
}

function mk() {
    mkdir -p "$@" && cd "$_";

}

if [ -f $(brew --prefix)/etc/bash_completion ]; then
	$(brew --prefix)/etc/bash_completion
fi

# Degree Sequence
alias degseq="python3 /Users/Em/Projects/Play/graphicsequence.py"

function busy() {
j=0;while true; do let j=$j+1; for i in $(seq 0 20 100); do echo $i;sleep 1; done | dialog --gauge "Install part $j : `sed $(perl -e "print int rand(99999)")"q;d" /usr/share/dict/words`" 6 40;done
}

alias busy="busy"
