# Functions


function weather() {
	curl wttr.in/Oakland | lolcat -a -d 3 -s 17.0
}

function moon() {
	curl wttr.in/Moon | lolcat -a -d 5 -s 17.0
}

function mkcd() {
    mkdir -p "$@" && cd "$_";

}

if [ -f $(brew --prefix)/etc/bash_completion ]; then
	$(brew --prefix)/etc/bash_completion
fi

# Degree Sequence
alias degseq="python3 /Users/Em/Projects/Play/graphicsequence.py"