# Functions


# Weather
function weather() {
	curl wttr.in/Oakland | lolcat -a -d 3 -s 17.0
}

function moon() {
	curl wttr.in/Moon | lolcat -a -d 5 -s 17.0
}


# mkdir and cd into it
mkcd() { mkdir -p $1; cd $1 }

# Encode
function encode() {
	echo -n $@ | perl -pe's/([^-_.~A-Za-z0-9])/sprintf("%%%02X", ord($1))/seg';}

# Google
function goo() {
	links http://www.google.com/search?q="`encode $@`";
}

# Wikipedia
function wiki() {
	links https://en.wikipedia.org/w/index.php?search="`encode $@`";
}

# Bash Completion (why is this here?)
if [ -f $(brew --prefix)/etc/bash_completion ]; then
	$(brew --prefix)/etc/bash_completion
fi


# Degree Sequence
alias degseq="python3 /Users/Em/Projects/Play/graphicsequence.py"


# Look Busy ;)
function busy() {
j=0;while true; do let j=$j+1; for i in $(seq 0 20 100); do echo $i;sleep 1; done | dialog --gauge "Install part $j : `sed $(perl -e "print int rand(99999)")"q;d" /usr/share/dict/words`" 6 40;done
}

alias busy="busy"


# Codi
# Usage: codi [filetype] [filename]
codi() {
  local syntax="${1:-python}"
  shift
  vim -c \
    "let g:startify_disable_at_vimenter = 1 |\
    set bt=nofile ls=0 noru nonu nornu |\
    hi ColorColumn ctermbg=NONE |\
    hi VertSplit ctermbg=NONE |\
    hi NonText ctermfg=0 |\
    Codi $syntax" "$@"
}

# Count number of files in directory 
numfiles() { 
    N="$(ls $1 | wc -l)"; 
    echo "$N files in $1";
}

