'Icon'$'\r'
/bundle/cache/*
'Icon'$'\r'
.mutt/header_cache
.task/certs/*
.task/pending.data
.task/completed.data
.config/ranger/history
.config/ranger/bookmarks
.apitokens
.myconfig
.cache
.cpan/Metadata
.cpan/FTPstats.yml
.cpan/
*.gz
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.ps
*.eps
*.pdf
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
acs-*.bib
*.thm
*.nav
*.snm
*.vrb
*.cpt
*.lox
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*-gnuplottex-*
*.gaux
*.gtex
*.brf
*-concordance.tex
*.tikz
*.lol
=======
# Mac Specific:
.DS_Store
Icon

# config
.myconfig

._*
.Spotlight-V100
.Trashes

# Logs and databases:
*.log
*.sqlite

# Packages:
*.dmg
*.gz
*.tar
*.zip
*.rar
*.iso

# etags and ctags:
TAGS
tags

.idea/

# Vim:
*.un~
Session.vim
.netrwhist
*~

# diffmerge .orig files:
*.orig

# Office temp files:
~$*

# Python specific:
*.py[cod]

__pycache__
.coverage

# C specific:
*.o
*.a

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app

# Java specific:
*.class

*.jar
*.war
*.ear

# LaTeX specific:
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.maf
*.mlf
*.mlt
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]
_minted*
*,pyg
*.mw
*.fmt
*.nlo
*.sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
*.wrt
*.sout
*.sympy
sympy-plots-for-*.tex/
*.upa
*.upb
*.pytxcode
pythontex-files-*/
*.low
*.dpth
*.md5
*.auxlock
*.tdo
*.lod
*.xdy
*.xyc
*.ttt
*.fff
*.bak
*.sav
.texpadtmp
*.backup
*~[0-9]*
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
