# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = pathologicalhandwaving
	email = kshort@iastate.edu
[alias]
	unadd = reset HEAD --
	unstage = reset HEAD --
