priority -50

snippet deflist
<dl>
	<dt>${1:term}</dt>
	<dd>${2:description}</dd>
	$0
</dl>
endsnippet

snippet ditem
	<dt>${1:term}</dt>
	<dd>${2:description}</dd>
	$0
endsnippet

# vim:ft=snippets:
