
" notebook.vim configuration file
" 
let g:nb_notebook = "default"
let g:nb_categories = ['API', 'ARRAY', 'CHECK', 'CLASS', 'CODE', 'COMMENT', 'CONDITION', 'CONFIGURATION', 'CONSTANT', 'DEBUG', 'DEFINE', 'DEFINITION', 'DUMMY', 'ENUM', 'EXAMPLE', 'FILE', 'FIX', 'FUNCTION', 'HACK', 'INCLUDE', 'INFORMATION', 'INITIALIZATION', 'INTERESTING', 'ITEM', 'LOG', 'LOGGING', 'MEMORY', 'MESSAGE', 'METHOD', 'NONE', 'NOTE', 'STRUCT', 'STUDY', 'TEMPLATE', 'TEST','THEOREM 'TODO', 'TYPE', 'VARIABLE', 'WORKAROUND']
