
holiday.2017.fees.date=20170801
holiday.2017.fees.name=Tuition and Fees Available on AccessPlus
holiday.2017.lastreg.date=20170818
holiday.2017.lastreq.name=Last Day to Register without Fees
holiday.2017.dead.date=20170820
holiday.2017.dead.name=Last day to pay fees or cancel registration

