holiday.2017.ny.date=20170102
holiday.2017.ny.name=New Year's Day (observed)
holiday.2017.mlk.date=20170116
holiday.2017.mlk.name=Birthday of Martin Luther King, Jr.
holiday.2017.wash.date=20170220
holiday.2017.wash.name=Washington's Birthday
holiday.2017.pat.date=20170417
holiday.2017.pat.name=Patriots' Day
holiday.2017.mem.date=20170529
holiday.2017.mem.name=Memorial Day
holiday.2017.ind.date=20170704
holiday.2017.ind.name=Independence Day
holiday.2017.lab.date=20170904
holiday.2017.lab.name=Labor Day
holiday.2017.col.date=20171009
holiday.2017.col.name=Columbus Day
holiday.2017.vet.date=20171111
holiday.2017.vet.name=Veterans Day
holiday.2017.turkey.date=20171123
holiday.2017.turkey.name=Thanksgiving Day
holiday.2017.chris.date=20171225
holiday.2017.chris.name=Christmas Day
